
//colors
$background-color: #F5F5F5;
$section-color: #ffffff;
$guardian-primary: #005689;
$breaking-color: #B51800;

//fonts
$panel-font-size: 16px;
$panel-font-color: #4BC6DF;

$grid-gutter: 10px;

$desktop-media: 1140px;


$panel-image-width: 126px;
$panel-image-height: 76px;

$sub-panel-height: 91.2% / 3;

$first-panel-laptop-height: 275px;
$first-panel-laptop-image-margin-left: 180px;
