main {
  background-color: $background-color;
}

section {
  background-color: $section-color;
  @include clearfix;
}

@include grid-media($default-grid) {
  .headlines .headline {
    height: $first-panel-laptop-height;
    &:first-of-type {
    @include grid-column(3, $default-grid);
    }
    &:nth-of-type(2) {
      height: $first-panel-laptop-height;
    }
    &:nth-of-type(n+2) {
      @include grid-column(1, $default-grid);
    }
    &:last-of-type {
      @include grid-column(2, $default-grid);
    }
  }
}
